
html{
    scroll-behavior: smooth;
}

#headerName{
    font-size: 20px;
}
.navbar-fixed {
    position: absolute;
    /* z-index:999999999; */
}


#headerImage{
    height: 100vh;
    overflow: hidden;
}

#parallaxTitle{
    margin-top: -100px;
    position: absolute;
    z-index: 100;
}

#aboutMeCont, #skillsCont, #projectsCont, #contactCont{
    min-height: 100vh;
}

#skillsContainer{
    height: 70vh;
}
.skill-icons{
    font-size: 80px;
    color: #0d47a1;
}

.headerContainer{
    overflow: hidden;
}

#aboutMeHeader, #skillsHeader, #projectsHeader, #contactHeader{
    margin-top: 50px;
}
