
html{
    scroll-behavior: smooth;
}

#headerName{
    font-size: 20px;
}
.navbar-fixed {
    position: absolute;
    /* z-index:999999999; */
}

/* #mobileSocialButtons{
    position: absolute;
    z-index: 10000;
    top: 42%;
    left: 11%;
} */

#headerImage{
    height: 100vh;
    overflow: hidden;
}

#parallaxTitle{
    margin-top: -100px;
    position: absolute;
    z-index: 100;
}

#aboutMeCont, #skillsCont, #projectsCont, #contactCont{
    min-height: 100vh;
}

.card-content{
    min-height: 165px;
}

.card{
    overflow-x: hidden;
}

.card-pic{
    width: auto !important;
    min-width: 100%;
}

#skillsContainer{
    height: 70vh;
}
.skill-icons{
    font-size: 80px;
    color: #0d47a1;
}

.headerContainer{
    overflow: hidden;
}

#aboutMeHeader, #skillsHeader, #projectsHeader,{
    margin-top: 50px;
}

.hidden{
    display: none;
}

.modal{
    overflow-y: hidden !important;
}

@media only screen and (min-width: 1600px){
    #card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8{
        max-width: 33% !important;
    }
}