
html{
    scroll-behavior: smooth;
}

#headerName{
    font-size: 20px;
}
.navbar-fixed {
    position: absolute;
    /* z-index:999999999; */
}


#headerImage{
    height: 100vh;
    overflow: hidden;
}

#parallaxTitle{
    margin-top: -80px;
    position: absolute;
    z-index: 100;
}

#aboutMeCont, #skillsCont{
    min-height: 100vh;
}

.skill-icons{
    font-size: 80px;
    color: #0d47a1;
}

.headerContainer{
    overflow: hidden;
}

#aboutMeHeader, #skillsHeader{
    margin-top: 50px;
}


/* Animations */

.hidden {
    display: none;
}

.slideIn{
  animation-duration: 2s;
  animation-name: slidein;
}

.slideInLeft{
    animation-duration: 2s;
    animation-name: slideinleft;
}

@keyframes slideinleft{
    from {
        margin-left: -100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}