#headerName{
    font-size: 20px;
}
.navbar-fixed {
    position: absolute;
    /* z-index:999999999; */
}


#headerImage{
    height: 90vh;
    overflow: hidden;
}

#parallaxTitle{
    margin-top: -80px;
    position: absolute;
    z-index: 100;
}

#aboutMeCont, #skillsCont{
    height: 100vh;
}