
html{
    scroll-behavior: smooth;
}

#headerName{
    font-size: 20px;
}
.navbar-fixed {
    position: absolute;
    /* z-index:999999999; */
}

#navBar{
    border-bottom: 1px solid;
}

/* #mobileSocialButtons{
    position: absolute;
    z-index: 10000;
    top: 42%;
    left: 11%;
} */

.container{
    min-width: 90% !important;
}

.headerTxt{
    font-family: 'Rubik', sans-serif;
}

#TitleText{
    margin: -15px;
}

#aboutMeRow{
    margin: 60px 0px 0px 0px;
}

#headerImage{
    height: 100vh;
    overflow: hidden;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/connectwork.png");
}

#parallaxTitle{
    margin-top: -100px;
    position: absolute;
    z-index: 100;
}

#aboutMeCont, #skillsCont, #projectsCont, #contactCont{
    min-height: 100vh;
}

/* #aboutMeCont{
    background-image: url(../images/atlanta.jpg)
} */

.card-content{
    min-height: 165px;
}

.card{
    overflow-x: hidden;
}

.card-pic{
    width: auto !important;
    min-width: 100%;
}

#bioImage{
    max-width: 100%;
    height: auto;
}

#skillsCont{
    min-height: 100vh;
}
.skill-icons{
    font-size: 80px;
    color: #0d47a1;
}

.headerContainer{
    overflow: hidden;
}

#aboutMeHeader, #skillsHeader, #projectsHeader,{
    margin-top: 50px;
}

#aboutMeHeader, #contactHeader {
    border-bottom: 1px solid grey;
}

#aboutMeP{
    text-align: justify;
}

.hidden{
    display: none;
}

.modal{
    overflow-y: hidden !important;
}

::-webkit-scrollbar { 
    display: none; 
}

@media only screen and (min-width: 1400px){
    #card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8{
        max-width: 33% !important;
    }
}


/* Hexagon */
@media only screen and (min-width: 1000px){

    #hexCont1{
    position: absolute;
    left: 67px;
    top: 80px;
}

#hexCont3{
    position: absolute;
    left: 134px;
    top: -36px;
}

#hexCont4{
    position: absolute;
    left: 202px;
    top: 80px;
}

#hexCont5{
    position: absolute;
    left: 338px;
    top: 80px;    
}

#hexCont6{
    position: absolute;
    left: 270px;
    top: -36px;   
}

#hexCont7{
    position: absolute;
    left: 406px;
    top: -37px; 
}
}

.hexagon {
  position: relative;
  width: 125px; 
  height: 72.17px;
  margin: 36.08px 0;
  border-left: solid 5px #0d47a1;
  border-right: solid 5px #0d47a1;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 88.39px;
  height: 88.39px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 13.3058px;
}

.hexagon:before {
  top: -44.1942px;
  border-top: solid 7.0711px #0d47a1;
  border-right: solid 7.0711px #0d47a1;
}

.hexagon:after {
  bottom: -44.1942px;
  border-bottom: solid 7.0711px #0d47a1;
  border-left: solid 7.0711px #0d47a1;
}

#hexDiv {
    position: relative;
    /* overflow-x: hidden; */
}





.cellText{
    padding-top: 21px;
}

